@{
    bool isAuth = base.User.Identity.IsAuthenticated;
    bool IsAdmin = User.IsInRole("Admin");
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - SMlibraryApp</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/SMlibraryApp.styles.css" asp-append-version="true" />
</head>
<header>
    <nav class="navbar navbar-expand-lg  navbar-light bg-light">
        <i class="fa fa-book" style="font-size:30px;color:red"></i>
        <a class="navbar-brand" href="#">SMLib</a>
        <button class=" navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <div class="navbar-nav">
                @if (!isAuth)
                {
                    <a style="color: black;" class="nav-item nav-link" asp-controller="Home" asp-action="Index">Home</a>
                }

                <div class="nav-item nav-link dropdown">
                    <a style="text-decoration: none; color: black" class="dropbtn">Browse</a>
                    <div class="dropdown-content">
                        <a href="#">Adventure</a>
                        <a href="#">Horror</a>
                        <a href="#">Mystery</a>
                        <a href="#">Romance</a>
                        <a href="#">Poetry</a>
                        <a href="#">Science Fiction</a>
                    </div>
                </div>
                @if (IsAdmin)
                {
                    <a style="color: black;" class="nav-item nav-link" asp-controller="Identity"
                        asp-action="GetUsers">Users</a>
                }

                @if (isAuth)
                {
                    <a style="color: black;" class="nav-item nav-link" asp-controller="Identity" asp-action="LogOut">Log
                        Out</a>
                }

                @if (isAuth && !IsAdmin)
                {
                    <a style="color: black;" class="nav-item nav-link" asp-controller="User"
                        asp-action="Account">Profile</a>
                }
                @if(!isAuth){
                    <a style="color: black;" class="nav-item nav-link" asp-action="Login"
                        asp-controller="Identity">SingIn/SingUp</a>
                }
            </div>
        </div>
    </nav>
</header>

<body>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>

    @* без этих скриптов navbar-toggler открывается и сразу закрывается *@
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>



</html>

<style>
    .dropdown {
        position: relative;
        display: inline-block;
    }

    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #f9f9f9;
        min-width: 160px;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.5);
        z-index: 1;
        overflow-y: auto;
        max-height: 200px;
        column-count: 2;
        column-gap: 20px;
        padding: 10px;
    }

    .dropdown-content a {
        color: black;
        padding: 10px 0;
        text-decoration: none;
        display: block;
    }

    .dropdown-content a:hover {
        background-color: rgba(199, 193, 193, 0.466);
    }

    .dropdown:hover .dropdown-content {
        display: block;
    }
</style>
