@{
    ViewData["Title"] = "Account";
    bool IsAdmin = User.IsInRole("Admin");
}


<div class="container">
    <form id="deleteForm-@User.Identity.Name" asp-controller="User" asp-route-name="@User.Identity.Name" asp-action="Delete">

        <div class="row justify-content-center">
            <div clas s="col-md-6">
                <div class="card text-center" style="color: white; background-color: #343a40;">
                    <div class="card-body">
                        <h5 class="card-title">Welcome</h5>
                        <p class="card-text">Account Information:</p>
                        <p class="card-text">Name: @User.Identity.Name</p>
                        @if (!IsAdmin)
                        {
                            <a href="@Url.Action("GetUserItems", "User")" class="btn btn-primary mt-3">My Books</a>
                        }
                        <a href="@Url.Action("ChangePassword", "Identity")" class="btn btn-primary mt-3">Change Password</a>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>


