@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
            background-color: #f8f9fa;
            text-align: center;
        }

        

        h1, h2 {
            color: #050100;
            margin-bottom: 20px;
        }

        p {
            font-size: 1.2rem;
            line-height: 1.6;
            color: #050100;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Welcome to  library app!</h1>
        <p>
            Whether you're an avid reader, a student, or someone who simply loves to explore the
            world of books, our app is designed to cater to your literary needs with ease and convenience.
            Getting started with our library app is a breeze. If you're new to the platform, you'll begin by signing up
            for
            an account. Simply provide us with some basic information like your name, email address, and create a
            password.
            Once you've completed this step, you'll be ready to embark on your reading journey.
        </p>
        <h2>About Library</h2>
        <p>
            Once you're logged in, you'll have access to a vast collection of books right at your fingertips. Whether
            you're
            interested in fiction, non-fiction, mystery, romance, or any other genre, you'll find a diverse selection to
            choose from. Browse through our curated recommendations, search for specific titles or authors, or explore
            new
            releases and bestsellers.
        </p>
    </div>
</body>
</html>
