@{
    ViewData["Title"] = "Home Page";
}

<body style="background-color:  #fff9e9;">
    <div style="font-size: 1.5rem;margin: 20px;padding: 20px 200px 0px 200px;" >
        <h1>
        Welcome to our library app! Whether you're an avid reader, a student, or someone who simply loves to explore the
        world of books, our app is designed to cater to your literary needs with ease and convenience.
        </h1>
        Getting started with our library app is a breeze. If you're new to the platform, you'll begin by signing up for
        an account. Simply provide us with some basic information like your name, email address, and create a password.
        Once you've completed this step, you'll be ready to embark on your reading journey.
        <br>
        For returning users, signing in is quick and straightforward. Just enter your registered email address or
        username along with your password, and you'll be ready to dive back into the world of literature.
        <br>
        Once you're logged in, you'll have access to a vast collection of books right at your fingertips. Whether you're
        interested in fiction, non-fiction, mystery, romance, or any other genre, you'll find a diverse selection to
        choose from. Browse through our curated recommendations, search for specific titles or authors, or explore new
        releases and bestsellers.
    </div>

</body>