@{
    string UserName = string.Empty;
    string oldPassword = string.Empty;
    string newPassword = string.Empty;
}
<link rel="stylesheet" href="~/css/style.css" type="text/css" />

<body>
    <div class="logbody">
        <div class="wrapper">
            <div class="title-text">
                <div class="title login">
                    Account
                </div>
            </div>
            <div class="form-container">
                <div class="form-inner">
                    <form method="post" asp-action="ChangePassword" class="login">
                        <div class="field">
                            <input asp-for="@UserName" type="text" placeholder="UserName" required>
                        </div>
                        <div class="field">
                            <input asp-for="@oldPassword" type="password" placeholder="Password" required>
                        </div>
                        <div class="field">
                            <input asp-for="@newPassword" type="password" placeholder="Password" required>
                        </div>
                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Change">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>