@using Microsoft.AspNetCore.Identity
@model IEnumerable<IdentityUser>

<h1 style="text-align: center;">All Users</h1>

<div class="container">
    <div class="grid">
        @foreach (var user in Model)
        {
            @if (!user.UserName.Contains("admin"))
            {
                <form id="deleteForm-@user.UserName" asp-controller="User" asp-route-name="@user.UserName" asp-action="Delete">
                    <div class="card mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Name: @user.UserName</h5>
                            </div>
                            <button type="button" onclick="submitDeleteForm('@user.UserName')" class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </form>
            }
        }
    </div>
</div>


<style>
    .container {
        display: flex;
    }

    .grid {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
    }

    .card {
        border: 1px solid #ccc;
        border-radius: 5px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

</style>

<script>
    function submitDeleteForm(itemName) {
        var form = document.getElementById('deleteForm-' + itemName);
        var formData = new FormData(form);
        fetch(form.action + '?name=' + itemName, {
            method: 'DELETE',
            body: formData
        })
            .then(response => {
                if (response.ok) {
                    form.remove();
                } else {
                    console.error('Error deleting resource');
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
    }
</script>